.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.footer{
  background-color: #b8e3dd;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:40px 0px 40px 0px;
  margin:0px auto;
  background: #12A28C     ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: whitesmoke;
}
h1 {
   font-weight: bold;
}
.jumbotron {
  padding-top: 80px;
}
